<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 路径格式 -->
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <property name="DEFAULT_PATTERN"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%level] ${PID:- } --- [%thread] %logger{26} - %msg%n"/>
    <property name="APM_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{tid}] [%thread] %-5level %logger{36} -%msg%n" />

    <!--  skyWalking日志采集  -->
    <appender name="APM_LOG" class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.log.GRPCLogClientAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.mdc.TraceIdMDCPatternLogbackLayout">
                <Pattern>${APM_PATTERN}</Pattern>
            </layout>
        </encoder>
    </appender>

<!--    <appender name="ASYNC_ROOT" class="ch.qos.logback.classic.AsyncAppender">-->
<!--        <queueSize>2048</queueSize>-->
<!--        <discardingThreshold>0</discardingThreshold>-->
<!--        <appender-ref ref="APM_LOG" />-->
<!--    </appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${APM_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>



    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="APM_LOG"/>
    </root>

</configuration>